<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092945259930-e4f5qjj99bjdltv8gj9sbfdgi7odt69s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092945259930-e4f5qjj99bjdltv8gj9sbfdgi7odt69s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1092945259930-051suns23aslroo67uekqlgfd19q91q3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFPkktO4F8Kvv4A1fFKQvaqTEO5sGwtY8</string>
	<key>GCM_SENDER_ID</key>
	<string>1092945259930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.troopios.app</string>
	<key>PROJECT_ID</key>
	<string>troop-f6b3a</string>
	<key>STORAGE_BUCKET</key>
	<string>troop-f6b3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092945259930:ios:1fc1a3a95a579783ce9e23</string>
</dict>
</plist>